---
import Layout from '../../components/Layouts/Main.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { SEO } from 'astro-seo';
import marked from '../../utilities/marked';
import { getPosts } from '../../utilities/posts';

const sortedPosts = await getPosts();
---

<Layout>
  <SEO title="Luke's Blog Posts" slot="seo" />
  <section class="px-5 py-10 mt-5 text-center container-sm">
    <h1 class="text-4xl font-bold">Blog Posts</h1>
  </section>
  <section class="px-5 container-sm">
    <ol class="space-y-8 divide-y">
      {
        sortedPosts.map((post) => (
          <li>
            <article class="pt-5 h-entry">
              {typeof post.data.title == 'string' ? (
                <a class="u-url" href={'/posts/' + post.slug}>
                  <h2 class="p-name font-semibold text-2xl mb-1">
                    {post.data.title}
                  </h2>
                </a>
              ) : (
                <div
                  class="e-content post-content p-name"
                  set:html={marked.parse(post.body)}
                />
              )}

              <div class="flex gap-3">
                <a class="u-url" href={'/posts/' + post.slug}>
                  <FormattedDate date={post.data.publish_date} /> { post.data.date && <span class="text-gray-400">(<FormattedDate date={post.data.date} />)</span> }
                </a>

                {typeof post.data.title !== 'string' && (
                  <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                    Micropost
                  </span>
                )}
              </div>

              <div class="hidden dt-published">TODO</div>
              <a
                rel="author"
                class="hidden p-author h-card"
                href="https://lukebouch.com"
              >
                Luke Bouch
              </a>
            </article>
          </li>
        ))
      }
    </ol>
  </section>
</Layout>
