:root {
    --heading-dark: #1f1f1f;
    --heading-light: #fff;
    --body-light: #fff;
    --body-dark: #414141;
    --body-dark-subtle: #6c6c6c;

    --primary: #005169;
    --primary-light: #005169;
    --primary-ligher: #005169;
}
