:root {
    --heading-dark: #1f1f1f;
    --heading-light: #fff;
    --body-light: #fff;
    --body-light-1: #f6f6f6;
    --body-light-2: #e8e8e8;
    --body-dark: #414141;
    --body-dark-subtle: #6c6c6c;

    --primary: #005169;
    --primary-light: #005169;
    --primary-ligher: #005169;

    --link: var(--body-light-2);
    --link-hover: var(--body-dark);
}
