@import './reset.css';
@import './colors.css';
@import './typography.css';

@font-face {
    font-family: 'Vault Alarm';
    src: url('/fonts/vault-alarm.woff2') format('woff2'),
        url('/fonts/vault-alarm.woff') format('woff');
    font-weight: bolder;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1920,24,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step--2: clamp(0.7813rem, 0.7687rem + 0.0629vi, 0.8442rem);
    --step--1: clamp(0.9375rem, 0.8999rem + 0.1878vi, 1.1253rem);
    --step-0: clamp(1.125rem, 1.05rem + 0.375vi, 1.5rem);
    --step-1: clamp(1.35rem, 1.2201rem + 0.6495vi, 1.9995rem);
    --step-2: clamp(1.62rem, 1.4109rem + 1.0453vi, 2.6653rem);
    --step-3: clamp(1.944rem, 1.6222rem + 1.6089vi, 3.5529rem);
    --step-4: clamp(2.3328rem, 1.8522rem + 2.4032vi, 4.736rem);
    --step-5: clamp(2.7994rem, 2.0966rem + 3.5137vi, 6.3131rem);
    --step-6: clamp(3.3592rem, 2.348rem + 5.0561vi, 8.4153rem);

    --header-height: 5rem;
}

* {
    line-height: 1.5;
}

html {
    color: var(--body-dark);
}

body {
    font-size: var(--step-0);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    max-width: 60ch;
    font-size: var(--step-0);
}

h1 {
    font-size: var(--step-5);
}
h2 {
    font-size: var(--step-4);
}
h3 {
    font-size: var(--step-3);
}
h4 {
    font-size: var(--step-2);
}
h5 {
    font-size: var(--step-1);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;
    box-sizing: content-box;
}

.columns-2 {
    display: flex;
    flex-wrap: wrap;
}

.columns-2 > * {
    flex: 1 1 auto;
}

header {
    position: absolute;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-nav {
    width: 100%;
}
.main-nav ul {
    display: flex;
    list-style-type: none;
}
.main-nav ul > li {
    font-family: 'Vault Alarm', sans-serif;
}
.main-nav ul > li + li {
    margin-left: var(--step-3);
}
.main-nav ul a {
    text-decoration: none;
    color: #000;
}

.hero {
    position: relative;
    padding-top: var(--header-height);
}
.hero::after {
    content: '';
    background-image: url('/signal.svg');
    background-size: 30rem;
    opacity: 0.01;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .columns-2 {
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero .columns-2 .text {
    flex: 1 1 30rem;
}

.hero .columns-2 > img {
    width: 20rem;
    flex: 1 1 30;
    max-width: 60vw;
}
