@import './reset.css';
@import './colors.css';
@import './typography.css';

@font-face {
    font-family: 'Vault Alarm';
    src: url('/fonts/vault-alarm.woff2') format('woff2'),
        url('/fonts/vault-alarm.woff') format('woff');
    font-weight: bolder;
}

:root {
    --step--2: clamp(0.7813rem, 0.7191rem + 0.3109vi, 0.96rem);
    --step--1: clamp(0.9375rem, 0.8462rem + 0.4565vi, 1.2rem);
    --step-0: clamp(1.125rem, 0.9946rem + 0.6522vi, 1.5rem);
    --step-1: clamp(1.35rem, 1.1674rem + 0.913vi, 1.875rem);
    --step-2: clamp(1.62rem, 1.3683rem + 1.2587vi, 2.3438rem);
    --step-3: clamp(1.944rem, 1.6012rem + 1.7142vi, 2.9297rem);
    --step-4: clamp(2.3328rem, 1.8704rem + 2.3118vi, 3.6621rem);
    --step-5: clamp(2.7994rem, 2.1808rem + 3.0927vi, 4.5776rem);

    --header-height: 5rem;
}

* {
    line-height: 1.5;
}

html {
    color: var(--body-dark);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    max-width: 60ch;
    font-size: var(--step-0);
}

h1 {
    font-size: var(--step-5);
}
h2 {
    font-size: var(--step-4);
}
h3 {
    font-size: var(--step-3);
}
h4 {
    font-size: var(--step-2);
}
h5 {
    font-size: var(--step-1);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;
    box-sizing: content-box;
}

.columns-2 {
    display: flex;
    flex-wrap: wrap;
}

.columns-2 > * {
    flex: 1 1 auto;
}

header {
    position: absolute;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-nav {
    width: 100%;
}
.main-nav ul {
    display: flex;
    list-style-type: none;
    margin: 1rem auto;
}
.main-nav ul > li {
    font-family: 'Vault Alarm', sans-serif;
}
.main-nav ul > li + li {
    margin-left: 2.5rem;
}
.main-nav ul a {
    text-decoration: none;
    color: #000;
}

.hero {
    position: relative;
    padding-top: var(--header-height);
}
.hero::after {
    content: '';
    background-image: url('/signal.svg');
    background-size: 30rem;
    opacity: 0.01;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .columns-2 {
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero .columns-2 .text {
    flex: 1 1 20rem;
}

.hero .columns-2 > img {
    width: 20rem;
    flex: 1 1 30;
    max-width: 60vw;
}
