@import './reset.css';
@import './colors.css';
@import './typography.css';

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1920,24,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step--2: clamp(0.7813rem, 0.7687rem + 0.0629vi, 0.8442rem);
    --step--1: clamp(0.9375rem, 0.8999rem + 0.1878vi, 1.1253rem);
    --step-0: clamp(1.125rem, 1.05rem + 0.375vi, 1.5rem);
    --step-1: clamp(1.35rem, 1.2201rem + 0.6495vi, 1.9995rem);
    --step-2: clamp(1.62rem, 1.4109rem + 1.0453vi, 2.6653rem);
    --step-3: clamp(1.944rem, 1.6222rem + 1.6089vi, 3.5529rem);
    --step-4: clamp(2.3328rem, 1.8522rem + 2.4032vi, 4.736rem);
    --step-5: clamp(2.7994rem, 2.0966rem + 3.5137vi, 6.3131rem);
    --step-6: clamp(3.3592rem, 2.348rem + 5.0561vi, 8.4153rem);

    --header-height: 5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;
    box-sizing: content-box;
}

.columns-2 {
    display: flex;
    flex-wrap: wrap;
}

.columns-2 > * {
    flex: 1 1 auto;
}

header {
    position: absolute;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 50;
}
.main-nav {
    width: 100%;
    display: flex;
    gap: var(--step-3);
}
.main-nav a {
    font-family: var(--display-font);
    text-decoration: none;
    color: #000;
}
.main-nav a.active {
    border-bottom: 4px solid currentColor;
}

.hero {
    position: relative;
    padding-top: var(--header-height);
}
.hero::after {
    content: '';
    background-image: url('/signal.svg');
    background-size: 30rem;
    opacity: 0.01;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .columns-2 {
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: var(--step-3);
}

.hero .columns-2 .text {
    flex: 1 1 45rem;
}

.hero .columns-2 > img {
    width: 35rem;
    flex: 1 1 30;
    max-width: 60vw;
}

.hobbies {
    position: relative;
    margin-top: calc(var(--step-3) * -1);
    z-index: 10;
}

.hobbies > div {
    background: var(--primary);
    color: var(--body-light);

    padding-top: var(--step-1);
    padding-bottom: var(--step-5);
    margin-top: calc(var(--step--1) * -1);
    margin-bottom: calc(var(--step--1) * -1);
}
.hobbies > img:last-child {
    rotate: 180deg;
}

.hobbies .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hobbies h2 {
    color: var(--heading-light);
    margin-bottom: var(--step-0);
}

.hobbies ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--step-0) var(--step-3);
    font-family: var(--display-font);
}

.hobbies li {
    display: flex;
    align-items: center;
    gap: var(--step--1);
    white-space: nowrap;
}

.hobbies li > img {
    height: auto;
    width: var(--step-2);
}

.experience {
    position: relative;
    margin-top: calc(var(--step-4) * -1);
    padding-top: calc(var(--step-6) + var(--step-4));
    padding-bottom: calc(var(--step-6) + var(--step-5));
}
.experience:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -10;
    background-image: url('/assets/paper-background.jpg');
    opacity: 0.5;
}
.experience h2 {
    text-align: center;
    margin-bottom: var(--step-5);
}
.experience ul {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: var(--step-6);

    list-style: none;
}
.experience .company {
    font-size: var(--step-1);
    font-family: var(--display-font);
}

.overcomplicating-things {
    overflow-x: hidden;
    margin-top: calc(var(--step-4) * -1);
}
.overcomplicating-things > div {
    color: var(--heading-light);
    background-color: var(--primary);
    text-align: center;

    padding-top: var(--step-1);
    padding-bottom: var(--step-5);
    margin-top: calc(var(--step--1) * -1);
    margin-bottom: calc(var(--step--1) * -1);
}
.overcomplicating-things h2 {
    color: var(--heading-light);
}
.overcomplicating-things p {
    font-size: var(--step-2);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--step--2);
}
.overcomplicating-things > img {
    transform: scale(-1.5, 1);
}
.overcomplicating-things > img:last-child {
    rotate: 180deg;
}

.past-projects {
    padding-top: var(--step-6);
    padding-bottom: var(--step-6);
}
.past-projects h2 {
    text-align: center;
}
.past-projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--step-5);
    list-style: none;
    margin-top: var(--step-5);
}
.past-projects li {
    max-width: var(--measure);
    flex: 1 1 30rem;
}
.past-projects li .image {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4/3;
    padding: var(--step-0);
    margin-bottom: var(--step-3);
    border-radius: var(--step-0);
    box-shadow: #0000001e 0 0 var(--step-0);
}
.past-projects li .image img {
    height: 85%;
    width: 85%;
}
.past-projects li .name {
    margin-bottom: var(--step--2);
    font-size: var(--step-1);
    font-family: var(--display-font);
    color: var(--heading-dark);
}
.past-projects li .description {
}
