.posts li {
    padding: var(--step-0) var(--step-2);
}

.posts li {
    /* border-bottom: #aaa 8px solid; */
    box-shadow: 10px 10px 0 #888;
}

.posts li:nth-child(odd) {
    background-color: var(--body-light-1);
}

.posts li:nth-child(even) {
    background-color: var(--body-light-2);
}
