/* @link https://utopia.fyi/type/calculator?c=240,16,1.2,1920,24,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step--2: clamp(0.6944rem, 0.6731rem + 0.1426vi, 0.8442rem);
    --step--1: clamp(0.8333rem, 0.7916rem + 0.278vi, 1.1253rem);
    --step-0: clamp(1rem, 0.9286rem + 0.4762vi, 1.5rem);
    --step-1: clamp(1.2rem, 1.0858rem + 0.7614vi, 1.9995rem);
    --step-2: clamp(1.44rem, 1.265rem + 1.167vi, 2.6653rem);
    --step-3: clamp(1.728rem, 1.4673rem + 1.738vi, 3.5529rem);
    --step-4: clamp(2.0736rem, 1.6933rem + 2.5356vi, 4.736rem);
    --step-5: clamp(2.4883rem, 1.9419rem + 3.6426vi, 6.3131rem);
    --step-6: clamp(2.986rem, 2.2104rem + 5.1708vi, 8.4153rem);

    --header-height: 5rem;
}
