@font-face {
    font-family: 'Vault Alarm';
    src: url('/fonts/vault-alarm.woff2') format('woff2'),
        url('/fonts/vault-alarm.woff') format('woff');
    font-weight: bolder;
}

html {
    color: var(--body-dark);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: 'Vault Alarm', sans-serif;
    color: var(--heading-dark);
}

p {
    max-width: 60ch;
    font-size: var(--step-0);
}

h1 {
    font-size: var(--step-5);
}
h2 {
    font-size: var(--step-4);
}
h3 {
    font-size: var(--step-3);
}
h4 {
    font-size: var(--step-2);
}
h5 {
    font-size: var(--step-1);
}

* {
    line-height: 1.5;
}

body {
    font-size: var(--step-0);
}
