---
import Layout from '../components/Layouts/Main.astro';
import { Image } from 'astro:assets';

import lukeBouchImage from '../images/lukebouch.png';
---

<Layout>
    <section class="hero">
        <div class="container columns-2">
            <div class="text">
                <h1>Luke Bouch</h1>
                <p>
                    Homeschooled by my mom and equipped by my dad with
                    a vast knowledge of engines and electricity, I
                    have been able to explore and enjoy numerous
                    hobbies that keep me busy in between work and
                    serving at church. I enjoy using well-designed
                    software and have a passion for creating great
                    UI/UX.
                </p>
            </div>
            <Image
                src={lukeBouchImage}
                alt="A photo of Luke Bouch."
            />
        </div>
    </section>
    <section class="hobbies">
        <img src="/assets/border-01.svg" alt="" />
        <div>
            <div class="container">
                <h2>Hobbies</h2>
                <ul>
                    <li>
                        <img
                            src="/assets/icons/motorcycle.svg"
                            alt=""
                        />
                        Motorcycles
                    </li>
                    <li>
                        <img
                            src="/assets/icons/ham-radio.svg"
                            alt=""
                        />
                        Ham Radio
                    </li>
                    <li>
                        <img src="/assets/icons/camping.svg" alt="" />
                        Camping
                    </li>
                    <li>
                        <img src="/assets/icons/server.svg" alt="" />
                        Self Hosting
                    </li>
                    <li>
                        <img src="/assets/icons/camera.svg" alt="" />
                        Photography
                    </li>
                </ul>
            </div>
        </div>
        <img src="/assets/border-01.svg" alt="" />
    </section>
    <section class="experience">
        <div class="container">
            <h2>Experience</h2>
            <ul>
                <li>
                    <p class="company">Covenant Church</p>
                    <p class="job-title">
                        Inter Director of Technology
                    </p>
                    <p class="date">April 2019 - December 2019</p>
                </li>
                <li>
                    <p class="company">The Ark</p>
                    <p class="job-title">Lead Software Developer</p>
                    <p class="date">June 2021 - November 2021</p>
                </li>
                <li>
                    <p class="company">RiverStone Church</p>
                    <p class="job-title">Director of Technology</p>
                    <p class="date">November 2021 - May 2022</p>
                </li>
                <li>
                    <p class="company">Wilber Group</p>
                    <p class="job-title">Software Developer</p>
                    <p class="date">May 2022 - March 2023</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="overcomplicating-things">
        <img src="/assets/border-01.svg" alt="" />
        <div>
            <div class="container">
                <p>I enjoy:</p>
                <h2>
                    Solving problems, perfecting...<br /> and sometimes
                    overcomplicating things.
                </h2>
            </div>
        </div>
        <img src="/assets/border-01.svg" alt="" />
    </section>
</Layout>
