---
import Layout from '../components/Layouts/Main.astro';
import { Image } from 'astro:assets';

import lukeBouchImage from '../images/lukebouch.jpg';
---

<Layout>
    <section class="container hero stack-1">
        <Image
            class="portrait circle"
            src={lukeBouchImage}
            alt="Photo of Luke Bouch"
        />
        <div>
            <h1>Luke Bouch</h1>
            <p>
                Homeschooled by my mom and equipped by my dad with a
                vast knowledge of engines and electricity, I have been
                able to explore and enjoy numerous hobbies that keep
                me busy in between work and serving at church. I enjoy
                using well- designed software and have a passion for
                creating great UI/UX.
            </p>
        </div>
    </section>
</Layout>
