---
import Layout from '../components/Layouts/Main.astro';
import FormattedDate from '../components/FormattedDate.astro';
import marked from '../utilities/marked';
import { getPosts } from '../utilities/posts';

const posts = await getPosts();
---

<Layout>
    <section>
        <div class="container region posts">
            <ol class="stack">
                {
                    posts.map((post) => (
                        <li>
                            <a
                                class="u-url"
                                href={'/posts/' + post.slug}
                            >
                                <article class="h-entry">
                                    {typeof post.data.title ==
                                    'string' ? (
                                        <h2 class="p-name">
                                            {post.data.title}
                                        </h2>
                                    ) : (
                                        <div
                                            class="e-content post-content p-name"
                                            set:html={marked.parse(
                                                post.body
                                            )}
                                        />
                                    )}
                                    <div class="flex gap-3">
                                        <FormattedDate
                                            date={
                                                post.data.publish_date
                                            }
                                        />{' '}
                                        {post.data.date && (
                                            <span>
                                                (
                                                <FormattedDate
                                                    date={
                                                        post.data.date
                                                    }
                                                />
                                                )
                                            </span>
                                        )}
                                        {typeof post.data.title !==
                                            'string' && (
                                            <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                                                Micropost
                                            </span>
                                        )}
                                    </div>
                                    <div class="hidden dt-published">
                                        TODO
                                    </div>
                                    <a
                                        rel="author"
                                        class="hidden p-author h-card"
                                        href="https://lukebouch.com"
                                    >
                                        Luke Bouch
                                    </a>
                                </article>
                            </a>
                        </li>
                    ))
                }
            </ol>
        </div>
    </section>
</Layout>
